.items{
    display: flex;
    justify-content: center;
    padding: 4% 10%;
    .itemsContainer{

      .items_row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        img{
          padding-left: 20px;
        }
      }
    }
  }
  

