.Items{
    max-width: 70%;
    columns: 2 auto;
    background: #FFF8EE;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px 20px;
    .column_left{
        
        h3{
            padding: 5px 0;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: #2A435D;
        }
        .sub_title_1{
            padding: 5px 0;

            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #2A435D;
        }
        .sub_title_2{
            padding: 15px 0 0 0;

            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: #2A435D;
        }
    }
    .column_right{
        float: right;
    }
}