.cartItem{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 20px;
    
  .cartItemInfo{
    padding-left: 20px;
    button{
      border: unset;
      margin-top: 10px;
      border-radius: 5px;
      background-color: transparent;
    }
    .cartItemTitle{
      font-size: 20px;
      font-weight: 450;
    }
    .cartItemPrice{
      font-size: 20px;
      line-height: 35px;
    }
    .cartItemIncrDec{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      width: 100px;
      button{
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: gainsboro;
        border: none;
        border-radius: 100px;
      }
      button:hover{
        box-shadow: 0 2px 2px gray;
      }
      
      button:active{
        box-shadow: unset;
      }
      
    }
    .cartItemRemoveButton{
      color: rgb(241, 131, 131);
      background: #CC3333;
      border-radius: 15px;
      padding: 10px;
      font-weight: 100;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      color: #FFF8EE;
      border: 1px solid #000000;
    }
    
    .cartItemRemoveButton:hover{
      color: rgb(243, 92, 92);
    }
    
    .cartItemRemoveButton:active{
      color: rgb(241, 131, 131);
    }
    

    
  }

}



