@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.App{
    padding: 20%;
}
/* Moible & tablet: width<1024px */
@media only screen and (max-width:63.9375){
    .main__product{
        flex-direction: column-reverse;
        width: 100%;

        display: none;

    }
}


